.home-packages {
    float: left;
    width: 100%;
    padding:0 0 35px 0;
}
.home-packages img{ border-radius: 15px;} 
.home-packages-text {
    float: left;
    width: 100%;
    padding: 0 30px;
    margin-top: -165px;
    z-index: 10;

    position: relative;
    color: #fff;
}
.bg-black-shade{
    background-color: #1560746e;
    position: absolute;
    bottom: 0;
    border-radius: 15px;
    right: 0;
    left: 10px;
    top: 0;
    width: calc(100% - 20px);
}
.home-packages .item{cursor: pointer;}
.item-padding{
    padding:0 10px;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

