.blog-box {
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.04);
    float: left;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    border: solid 1px #E4E4E4;
    padding: 15px;
}

.blog-box h4 {
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-top: 10px;
}
.blog-box p {
    font-size: 15px;
    color: #8A8A8A;
}
.item-padding{
    padding: 10px;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}