.events-full-container{
    float: left;
    width: 100%;
    margin: 0 0;
    padding: 50px 0;
}
.events-top-text p{
    max-width: 500px;
    
}
.d-flex{
    display: flex;
    align-items: center;  
}
.event-full-width-slider{
    float: left;
    width: 100%;
    padding: 50px 0;
}
.explore-event-container{
    float: left;
    width: 100%;
    padding:0 0 50px 0;
}
.event-left-container{
    float: left;
    width: 100%;
    padding: 0 0 0 100px;
}
.event-left-container h4{
    float: left;
    width: 100%;
}
.price-range{
    float: left;
    width: 100%; 
}
.price-range-text{
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.media-calendar{
    float: left;
    width: 100%; 
}
.accordion-range{
    float: left;
    width: 100%;
    margin-top: 15px;
}
