.home-countries {
    float: left;
    width: 100%;
    padding: 50px 0;
} 

.home-countries img{
    border-radius: 15px;
    max-width: 130px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
} 
.title-countries {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 10; */
    position: relative;
    color: #fff;
    
}
/* tab */
.country-container-box{     float: left;
    width: 100%;}
.country-container{     float: left;
    width: 100%;}
.country-nav-tabs{ color:#000;}
.country-nav-item{ color:#000; margin-bottom: 10px;}
.country-nav-link {
    background-color: #e6e6e6 !important;
    color: #000 !important;
    border-radius: 6px !important;
    margin-right: 10px;
    padding: 2px 8px !important;
}
.country-tab {
    float: left;
    width: 100%;
    padding:15px 0;
}
.country-tab img{ border-radius: 15px;} 
.country-tabslide-text {
    float: left;
    width: 100%;
    padding: 60px 40px;
    margin-top: -214px;
    z-index: 10;
    background-color: #ffffff;
    position: relative;
    color: #fff;
    max-width: 625px;
    margin-left: 15px;
    border-bottom: solid 4px #009597;
    text-align: justify;
}
.country-tabslide-text h4{color: #000;
    font-size: 20px !important;}
.country-tabslide-text h5{color: #009597;
    font-size: 16px !important;}
.country-tabslide-text p{color:#999;}
/* .bg-black-shade{
    background-color: #1560746e;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 15px;
} */
.country-explore-item{
    border-radius:15px;
}

.country-explore-text{
    padding: 10px;
}
.country-explore-item{
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.04);
    float: left;
    width: 100%;
    border-radius: 15px;
    position: relative;
    border: solid 1px #E4E4E4;
}
.country-explore-item img{
    border-radius: 10px 10px 0px 0px;
}
.country-explore-item p{
    margin-bottom: 0;
}
.documentation-container{
    float: left;
    width: 100%;
    padding: 15px;
    /* background: #cccccc17; */
    margin-top: 15px;
    /* max-width: 1108px; */
    
}

.country-explore .container-fluid{
    max-width: 100px;
}



.documentation-container .col-md-4{ margin-bottom: 15px;}
.check-cotainer{ margin-bottom: 15px;}
.around-nav-link{
    font-size: 40px;
    padding: 10px 10px;
    line-height: 10px;
    background-color: #a0daca !important;
    color: #fff !important;
    border-radius: 6px !important;
    margin-right: 10px;
}
.country-table {  
}
.country-table thead th{
    color: #009597;
}
.country-table .border{  
    border:solid 1px #000;
}
.bg-1{
    background-color:#d1fef2 !important;
}
.country-table tbody tr td p{
    margin-bottom: 0;
    padding: 10px 0;

}
.country-table tbody tr td{
    vertical-align: middle;

}


/* Experiance */

/* entire container, keeps perspective */
.flip-container .owl-nav {
    display: none;
}
.back h3  {
    font-size: 50px !important;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
      perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      margin-bottom: 30px;
  }
  
  .flip-container, .front, .back {
      width: 100%;
      height: 380px;
      border-radius:20px;
     
  }
  
  .front, .back {
    -webkit-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.41);
      -moz-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.41);
      box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.41);
    text-align: center;
    background-color:#fff;
  }
  
  .back {
    background: #009597;
    color: #fff;
    padding: 40px 20px;
  }
  
  span .h3, .back h3 {
    text-transform: uppercase;
  }
  
  .front h3 {
    font-weight: normal;
    margin-top: 0;
  }
  
  .front h3:after {
    content: "";
    height: 2px;
    width: 40px;
    display: block;
    background: rgba(0,0,0,0.1);
    margin: 15px auto;
  }
  
  .block-content {
    padding: 15px 20px 20px 20px;
  }
  
  .front h2 {
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
  }
.tag {
    color: #000;
    display: inline-block;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 15px;
  }
  .tag i{ margin-right: 10px;}
  .back p {
    margin: 40px 0;
    line-height: 20px;
    text-align: justify;
    margin-top: 10px;
}
  
  .back a {
    color: #fff !important;
    text-decoration: none;
    display: block;
    transition: all 200ms ease-in-out;
  }
  .back .tag{
    color: #fff !important;
  }
  .back .button:hover,
  .back .button:focus {
    background: #d1fef2 !important;
    border: solid 2px #d1fef2 !important;
  }
  
  /* flip speed goes here */
  .flipper {
      transition: 0.4s;
      transform-style: preserve-3d;
    margin: 0 20px;
      position: relative;
  }
  
  /* hide back of pane during swap */
  .front, .back {
      backface-visibility: hidden;
      transition: 0.6s;
      transform-style: preserve-3d;
  
      position: absolute;
      top: 0;
      left: 0;
  }
  
  /*  UPDATED! front pane, placed above back */
  .front {
      z-index: 2;
      transform: rotateY(0deg);
  }
  
  /* back, initially hidden pane */
  .back {
      transform: rotateY(-180deg);
  }
  
  /*  UPDATED! flip the pane when hovered */
      .flip-container:hover .back {
          transform: rotateY(0deg);
      }
      .flip-container:hover .front {
          transform: rotateY(180deg);
      }
      .front img{
border-radius:15px 15px 0 0;
      }
      .tag p{ padding-left: 10px;}
      .tag span{ margin-right:10px;}
    
.provider-date{
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-bottom: 0;
    margin-top: 0;
    
}
.event-masonry-item-content h5{
    float: left;
    width: 100%;
}
.star-section {
    float: left;
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    /* margin-bottom: 10px; */
}
.star{

}
.pakages-ul{
    float: left;
    width: 100%;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    font-size: 12px;
    text-align: center;
}
.r-button {
    background: #009496;
    color: #fff !important;
    padding: 5px 15px;
    border-radius: 25px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: table;
}
.event-detail-button {
    background: #009496;
    color: #fff !important;
    padding: 5px 15px;
    border-radius: 25px;
    position: relative;
    text-align: center;
    font-size: 13px;
}
.event-button-section{
    float: left;
    width: 100%;
}
.event-button-section button{
    background: #009496;
    color: #fff !important;
    padding: 5px 15px;
    border-radius: 25px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: table;
}
.pakages-ul li svg{    font-size: 23px;}
.btn-one{
    background-color: #a0daca;
    border: none;
    padding: 7px 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
  .countries-explore-container {
    background: #ecf1f7;
    padding: 50px 15px;
    float: left;
    width: 100%;
    overflow: hidden;
}



.featured-travel {
    float: left;
    width: 100%;
    position: relative;
    
}
.featured-travel span {
    float: left;
    width: 100%;
    position: relative;
    margin-top: -66px;
    padding: 10px 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pakage-bes-picked .item {
    border-radius:15px !important;
}
.featured-travel {
    border-radius: 15px;
}
.featured-travel img {
    border-radius: 15px;
}
.featured-travel span {
    border-radius:0 0 15px 15px;
}
.item-padding{
    padding:0 10px;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.featured-travel p{
    margin-bottom: 0;
}




.best-picked-box {
    float: left;
    width: 100%;
    position: relative;
}
.best-picked-box span {
    float: left;
    width: 100%;
    position: relative;
    margin-top: -110px;
    padding: 0 10px;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 54%, rgba(0,0,0,0) 100%);
}
.best-picked-box .date {
    position: absolute;
    top: 25px;
    background: #7FD2BA;
    padding: 3px 10px;
    border-radius: 5px;
    left: 25px;
}
.best-picked-box h4 {
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-top: 10px;
    padding-top: 32px;
    color: #fff;
    text-transform: unset;
}
.best-picked-box p {
    font-size: 15px;
    color: #fff;
}
.owl-stage-outer {
    padding: 5px 0;
}
.pakage-bes-picked .item {
    border-radius:15px !important;
}
.best-picked-box {
    border-radius: 15px;
}
.best-picked-box img {
    border-radius: 15px;
}
.best-picked-box span {
    border-radius:0 0 15px 15px;
}

.tour-holidays-text{
    padding: 60px 20px;
}
.tour-holidays-text p{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.tour-holidays-text .line{
    float: left;
    width: 40px;
    height: 2px;
    background-color: red;
    clear: both;
}
.tour-holidays-text h6{}
.tour-holidays-text ul{    list-style: none; padding-left: 0;}
.tour-holidays-text li{
    display: inline;
    margin-right: 10px;
}
.tour-holidays-text li a{}


.tour-holidays-box{
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.tour-holidays-box img{
    float: left;
    width: 100%;
    border-radius: 15px;
}
.tour-holidays-box span{
    float: left;
    width: 100%;
    background: #f9555573;
    border-radius: 15px;
    margin-top: -67px;
    padding: 12px 15px;
    background:linear-gradient(0deg, rgba(2,0,36,1) 54%, rgba(0,0,0,0) 100%);
    
}
.tour-holidays-box p {
    padding-bottom: 0;
    margin-bottom: 0;
    color: #fff;
}
.tour-holidays-box h6 {
    padding-bottom: 0;
    margin-bottom: 0;
    color: #fff;
}
.img-Holidays {
    height: 100%;
    object-fit: cover;
    border-radius:15px;
}

.vertical-center{
    display: flex;
    align-items: center;
}
.fb svg{ color: #3b5998;}
.tw svg { color: #1DA1F2;}
.gp svg { color: #db4a39 ; font-size: 20px;}


.countries-explore{
    /* max-width: 1108px; */
    max-width: 100%;
}
.bg-container {
    position: absolute;
    background: #ecf1f7;
    width: 100%;
    margin-left: -12px;
    margin-top: -542px;
    height: 542px;
    z-index: 1;
}

@media only screen and (max-width: 991px) {
   .country-nav-tabs{
    display: grid !important;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        overflow-y: hidden;
        overflow-x: scroll;
   }
   .country-nav-tabs li{
    float: left;
    text-wrap: nowrap;
}
.mobile-pb{
    padding-bottom: 30px;
}

  }


  .btn-plus{
    background: #009496;
    border: none;
    color: #fff;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 62px;
    float: right;
    z-index: 100;
    position: relative;
    margin-top: -5px;
}
.plus-ul  {
    margin: 0 0;
    position: absolute;
    bottom: -25px;
    right: 9px;
    text-align: center;
    /* background: #fff; */
    color: #000;
    font-size: 11px;
    border-radius: 20px;
    padding-bottom: 45px;
    z-index: 10;
}
.plus-ul li{
    background: #fff;
    list-style: none;
    padding: 0 12px;
}
.plus-ul li:first-child {
    padding: 5px 0 0 0;
    border-radius: 20px 20px 0px 0;
  }
  .plus-ul li:last-child {
    border-radius: 0 0 20px 20px;
    padding: 0px 0 30px 0;
  }