.invest-link {
  border: solid 2px #189497 !important;
  border-radius: 5px;
  margin-top: 8px;
  padding: 8px 10px !important;
  color: #156074 !important;
}
.invest-link span {
  color: #189497;
}

.login-link {
  border: solid 2px #cdcdcd !important;
  border-radius: 5px;
  margin-top: 8px;
  padding: 8px 10px !important;
  color: #cdcdcd !important;
}
.view-mobile {
  display: none;
}
.view-pc {
  display: block;
}

@media only screen and (max-width: 991px) {
  .navbar-nav-c {
    /* display: inline !important; */
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 25px 0;
    min-height: 100vh;
    margin-bottom: 10px;
  }
  .img-top-logo {
    max-width: 55px;
  }
  .navbar-nav-c li {
    margin-left: 20px;
    float: left;
    margin-left: 0;
    margin-right: 5px;
  }
  .invest-link {    
    padding: 5px 5px !important;
    font-size: 12px !important;
    max-width: 110px;
    text-align: center;
  }
  .login-link {
    padding: 5px 10px !important;
    font-size: 12px !important;
    max-width: 110px;
    text-align: center;
  }
  .dropdown-right {
    float: right !important;
  }
  .toggle-btn {
    border: none !important;
  }
  .banner-container img {
    max-width: 30px !important;
    margin-bottom: 10px;
  }
  .view-mobile {
    display: block;
    position: absolute !important;
    top: 20px;
    right: 60px;
  }
  .view-pc {
    display: none;
  }
}



/* .sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  } */



  .scrolled {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s ease-in-out;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  } 